@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

container {
    padding: 32px;
}

.purple {
    color:#6415ff
}

/* Header */

#header {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    animation: slide-in-left 1s ease;
}

@keyframes slide-in-left {
  0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    cursor: no-drop;
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
}

.header__logo--img {
    width: 40px;
    margin-right: 8px;
}


.header__logo:hover {
    color: #6415ff
}

.header__links {
    display: flex;
}

.header__links--last {
    padding: 0 16px;
}

.header__links--sign-up {
    border: 1px solid #6415ff;
    background-color: #6415ff;
    color: white;
    border-radius: 50px;

}

.header__links--sign-up:hover {
    background-color: #5011cc;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    cursor: no-drop;
    font-weight: 500;
    transition: all 300ms ease;
}

a:hover:not(.header__links--sign-up) {
    color: blue;
    text-decoration: underline;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
}

p {
    margin: 12px 0;
    font-size: 18px;
    line-height: 2;
    color: #7c8ba1;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom:24px;
}


/* Home */

#home {
    animation: slide-in-left 1s ease;
}

.container {
    padding: 70px 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.row {
    width: 100%;
    max-width: 512px;
}

.home__row--img {
    width: 100%;
    max-width: 512px;
}

.home__heading {
    font-size: 48px;
}

.home__para {
    font-size: 18px;
    line-height: 1.5;
}

.home__input {
    border: 2px solid #e2e8f0;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 448px;
}

.home__input:hover {
    border: 2px solid #95999e;
}

input {
    border: none;
    margin: 4px 16px;
    font-size: 16px;
    color: #243e63;
    opacity: 0.5;
}

input:focus {
    outline: none;
}

button {
    border-radius: 50px;
    padding: 16px 32px; 
    margin: 4px;
    background-color: #6415ff;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: no-drop;
}

button:hover {
    background-color: #5011cc;
}

.home__logo {
    margin: 80px 0;
}

.home__logo-strip--para {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    margin: 16px 0;
}

.home__logo--img {
    width: 100%;
    max-width: 512px;
    margin: 16px 0 0;
    padding: 0px 128px 0px 0px;
    opacity: 0.5;
}

.home__row--img {
    width: 100%;
    max-width: 768px;
}

/* Features */


@keyframes slide-in-right {
  0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.features__container {
    padding: 132px 0 16px 0;
    width: 100%;
    margin:0 32px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    animation: slide-in-right 1s ease;
   
}

.features__label {
    font-size: 16px;
    font-weight: 700;

}

.features__header {
    width: 100%;
    color:#243e63;
    font-weight: 900;
    font-size: 48px;
    padding: 24px 0;
}

.features__header--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.features__para {
    font-size: 18px;
    margin: 16px 0 40px 0;
    color: #7c8ba1;
    width: 100%;
    max-width: 576px;
    font-weight: 500;
    line-height: 1.652;
}

.features__list--label {
    color:#243e63;
    font-size: 24px;
}

.features__lists {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
}

.features__list {
    display: flex;
    width: calc(100% / 3);
    max-width: 300px;
    padding: 32px 8px;
}

.features__list--para {
    font-size: 16px;
     color: #7c8ba1;
}

.features__list--text {
    display: flex;
    flex-direction: column;
    line-height: 2;
    text-align: left;
    margin-left: 16px;
}

.features__list--img {
    border: 1px solid #e2e8f0;
    border-radius: 50px;
    padding: 20px;
    margin-top: 8px;
    height: 66px;
}

/* Quality Work */

#quality-work {
    padding: 96px 0;
    margin: 0 87px;
    animation: slide-in-left 0.7s ease-out forwards;
    animation-timeline: view();
    opacity: 0; 
}

#quality-work.active {
    animation: slide-in-left 0.7s ease-out forwards;
}

.quality-work__img {
    width: 100%;
    max-width: 640px;
    border: 1px solid #243e6325;
}


/* Steps */

#steps {
    
    padding: 96px 0;
    margin: 0 87px;
    animation: slide-in-right 0.7s ease-out backwards;
    animation-timeline: view();
    opacity: 0; 
}

#steps.active {
    animation: slide-in-right 0.7s ease-out backwards;
}


.steps__left {
    display: flex;
    align-items: center;
}

.steps__img {
    width: 100%;
    max-width: 640px;
}

.steps__right {
    width: 100%;
    max-width: 576px;
}

.steps__lists {
    list-style-type: none;
    width: 100%;
    max-width:400px;
}

.steps__list {
    margin: 32px 0;
    display: flex;
}

.steps__list--numbers {
    padding-right: 16px;
    font-size: 24px;
    color: #cbd5e0;
    font-weight: 600;
}

.steps__text-label {
    font-size: 20px;
    color:#243e63;
}


/* Values */

#values {
    padding: 96px 0;
    margin: 0 87px;
    animation: slide-in-left 0.7s ease-out forwards;
    animation-timeline: view();
    opacity: 0; 
}

#values.active {
    animation: slide-in-left 0.7s ease-out forwards;
}

.values__left {
    width: 100%;
    max-width: 576px;
}

.values__label {
    font-size: 16px;
    font-weight: 600px;
    padding-bottom: 24px;
}

.values__header {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
}

.values__para {
    margin: 12px 0;
    font-size: 14px;
    line-height: 2;
    color: #718096;
}

.values__right {
    display: flex;
    align-items: center;
}

.values__lists {
    list-style-type: none;
    display: flex;
    margin-bottom: 24px;
}

.values__list--logo {
    display: flex;
    align-items: center;
    padding-top: 12px;
    font-size: 20px;
    color:#243e63;
    font-weight: 700;
}

.values__name {
    margin-left: 12px;
    font-weight: bold;
}

.values__list-label--1 {
    border: 1px solid #9ae684;
    background-color: #9ae684;
    border-radius: 50px;
    height: 36px;
    padding: 6px;
}

.values__list-label--2 {
    border: 1px solid #feb2b2;
    background-color: #feb2b2;
    border-radius: 50px;
    height: 36px;
    padding: 6px;
}

.values__list-para {
    color: #243e63;
    font-size: 18px;
    line-height: 1.625;
    margin-top: 16px;
    max-width: 265px;
}

.values__img {
    width: 100%;
    max-width: 640px;
}

/* Pricing */

#pricing { 
    padding: 96px 0 8px 0;
    margin: 0 87px;
    display: flex;
    align-items: center;

}

.pricing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 70px 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.pricing__label {
    font-size: 16px;
    font-weight: 600px;
}

.pricing__header {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
}

.pricing__para {
    margin-top: 12px;
    font-size: 18px;
    line-height: 2;
    color: #718096;
    width: 100%;
    max-width: 576px;
}

.plans {
    border: 1px solid #0000003a;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: 100%;
    max-width: 384px;
    margin-top: 24px;
}

.plans__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1280px;
}

.plan__top {
    position: relative;
    border-bottom: 2px solid #0000003a;
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.plan__label {
    padding-top: 24px;
}

.plan__price {
    padding: 8px 100px;
    font-weight: 400;
}

.plan__duration {
    padding-bottom: 24px;
    color: #718096;
}
 
.plan__middle {
    border-bottom: 2px solid #0000003a;
    padding: 32px;
}

.plan__middle--label {
    font-size: 20px;
    font-weight: 700;
}

.plan__middle--para {
    font-size: 16px;
    color: #718096;
    margin-top: 20px;
}

.plan__bottom {
    padding: 32px 64px;
}

.plan__button {
    padding: 16px 64px;
    transition: all 300ms ease;
}

.plan__button--2 {
    padding: 16px 64px;
    color: #6415ff;
    background-color: white;
    transition: all 300ms ease;
}

.plan__button:hover, .plan__button--2:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5p;
    color: white;
}

.plans:nth-child(1) .plan__stripe, .plans:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%)
}

.plans:nth-child(3) .plan__stripe, .plans:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plans:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plans:nth-child(2) .plan__label, .plans:nth-child(2) .plan__price, .plans:nth-child(2) .plan__middle--label, .plans:nth-child(2) .plan__duration, .plans:nth-child(2) .plan__para {
    color: #f7fafc;
}

/* Testimonials */

#testimonials {
    padding: 96px 0;
    margin: 0 87px;
    animation: slide-in-right 0.7s ease-out backwards;
    animation-timeline: view();
    opacity: 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
}

.testimonials__img {
    max-width: 627px;
    padding: 0 40px;
    margin-top: 40px;
}

.testimonials__header {
    margin: 16px 0;
}

.testimonials__label {
    padding: 0 0;
}

.review {
    margin-top: 40px;
}

.review__subject {
    padding: 0;
}

.review__para {
    font-size: 16px;
    color: black;

}

.stars {
    display: flex;
}

.fa-solid.fa-star {
    width: 32px;
    height: 32px;
    color: gold;
    font-weight: 900;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reviewer {
    display: flex;
}

.review__details {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.review__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.review__name {
    padding: 0;
}

.review__role {
    margin: 0;
}


.button__left, .button__right {
    border: 1px solid #edf2f7;
    background-color: #edf2f7;
    border-radius: 50%;
    color: #6415ff;
    padding: 16px 16px;
    margin: 0 12px;

}

/* Contact */

#contact {
    background-color: #6415ff;
    width: 100%;
    padding: 96px 0;
    margin: 0 87px;
    display: flex;
    justify-content: space-around;
    
}

.contact__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
}

.contact__header {
    font-size: 30px;
    color: white;
    max-width: 480px;
}

.contact__start {
    border: 1px solid #f56565;
    background-color: #f56565;
}

.contact__start:hover {
    background-color: #fd5656;
}

.contact-us {
    border: 1px solid #fa3131;
}

.contact-us:hover {
    color: #6415ff;
    background-color: white;
}